 @charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
  

.section-1 {
  height: 56.25vw;
  position: relative;
  overflow: hidden;
}
.cat-img {
  width: 10.05vw;
  height: 5.1vw;
  position: absolute;
  left: 68.75vw;
  top: 11%;
  z-index: -9999;
}

/* text box */
.main-text {
  background-color: #fff;
  z-index: 2;
  margin: 10.96vw 10.5000vw;
  padding: 3.8vw 5.6vw;
  border-radius: 1vw;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;

 
}

.section-1-title{
  color: #000000;
  text-align: left;
  font-family: "Anek Latin", sans-serif;
  font-size: var(--title-XXL);
  line-height: 120%;
  font-weight: 800;
  left: 15.5vw; 
  top: 3.8vw; 
  height: 20vw;
}

.text-box {
  font-family: "Annie Use Your Telescope", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  background: #affeaa;
  border: 1px solid #000;
  border-radius: 72px;
  font-weight: 100;
  padding: 0.8333vw 8.3333vw;
  line-height: 0.8;
  display: inline-block;
}

/* icon */
.icon {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem; 
}

.ellipse {
  border-radius: 50%;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  box-shadow: 0 1px 0.25rem 0.1px rgba(0, 0, 0, 0.25)
}
.ellipse:nth-child(1){background: #ff0000;}
.ellipse:nth-child(2){background: #ffcc00;}
.ellipse:nth-child(3){background: #0066b4;}


.bord-txt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 78%;
  top: 36vw;
  gap: 2rem;
}
.bord-txt._2024 {
  text-align: left;
  font-family: "Anek Latin", sans-serif;
  font-size: 6.7vw;
  font-weight: 700;
  position: relative;
  background-color: #fff;
}
.ver {
  margin: 0 0 0 -32px;
  text-align: left;
  font-family: "Pretendard-ExtraLight", sans-serif;
  font-size: 1.67vw;
  letter-spacing: 0.06em;
  font-weight: 200;
  position: relative;
  width: 74px;
  height: 40px;
  -webkit-text-stroke: 8px transparent;
}



.section-1 .star_icon{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 87%;
  top: 38%;
  overflow: hidden;
  background-image: url('../img/icon_frame.png');
  background-size: cover;
  background-position: center;

  transform: scale(0);
  animation: scale-up 1s ease-out forwards;
}
.section-1 .star_icon .star{
  background-image: url('../img/Star_2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transform: scale(0);
  animation: scale-up 1s ease-out forwards; 
  top: 18%; 
  left: 18%; 
}


.side-icon-1 {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 6.7708vw;
    height: 6.7708vw;
    position: absolute;
    left: 7%;
    top: 8vw;
    transform: scale(0);
    animation: scale-up 1s ease-out forwards;
}
.gif {
  flex-shrink: 0;
  width: 6.6708vw;
  height: 6.6708vw;
  position: relative;
  object-fit: cover;
  text-align: center;
}
.logo-label-1 {
  width: 95.8vw; 
  height: 2.2vw; 
  position: absolute;
  left: 2.1vw;
  top: 49.5vw; 

}
.bord-txt ._2024 {
  text-align: left;
  font-family: "Anek Latin", sans-serif;
  font-size: 6.67vw;
  font-weight: 700;
  position: relative;
  background-color: #fff;
}
.ver {
  margin: 0 0 0 -32px;
  text-align: left;
  font-family: "Pretendard-ExtraLight", sans-serif;
  font-size: 1.67vw;
  letter-spacing: 0.06em;
  font-weight: 200;
  position: relative;
  width: 3.85vw;
  height: 2.08vw;
  -webkit-text-stroke: 8px transparent;
}

/* section-2 */

.section-2 {
  margin-top: 0.0521vw;
  height: 66.7708vw;
  background: #efefe7;
  position: relative;
  justify-content: center; 
}
.sec-2-grid {
  grid-template-columns: repeat(4 , 1fr);
  display: grid;
  width: 85.4167vw;
  height: 55.2083vw;
  margin: 6.9375vw 8.5938vw;
}
.sec-top{
  position: absolute;
  justify-content: center;
}
.sec-2-grid .grid{
  position: relative; 
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;background-color: #efefe7;
}
.sec-2-grid .grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000; 
  box-sizing: border-box;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.section-2 .grid::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; 
  height: 100%;
  background-color: #000000; 
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.section-2 .grid-4::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; 
  height: 100%;
  background-color: #efefe7; 
  pointer-events: none;
}
.section-2  .grid-7::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; 
  height: 100%;
  background-color: #efefe7; 
  pointer-events: none;
}

.logo{
  width:3.125vw;
  height: 3.333vw;

  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.title{
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.667vw;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
.grid_txt{
  text-align: left;
  font-family: "Pretendard", sans-serif;
  font-size: 0.833vw;
  line-height: 1.4583vw;
  font-weight: 600;
  position: relative;
}
.grid_txt_ul{
  list-style-type: disc;
}

/* 그리드 정렬 구간 */
.grid-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.grid-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.grid-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
}

.grid-7 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  align-items: center;
  display: block;
  position: relative;
}
.grid .test{
  padding: 3.6458vw 2.6042vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
}
.grid-7 .flex{
  display: flex;
  gap: 1.198vw;
  justify-content: center;
}
.img {
  background: #ffffff;
  border-radius: 1.875vw;
  padding: 2px 7px 2px 7px;
  display: flex;
  flex-direction: row;
  gap: 0.521vw;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11.146vw;
  height: 11.146vw;
  position: relative;
}
._1-2 {
  flex-shrink: 0;
  width: 10.417vw;
  height: 10.938vw;
  position: relative;
  object-fit: cover;
}
.grid-7 .test2{
  align-items: center;
  position: relative;
  top: 5.208vw;
}
.gird-7-txt {
  display: flex;
  flex-direction: column;
  gap: 0.729vw; 
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15.833vw;
  position: relative;
}
.grid-7-title{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 14.896vw;
  position: relative;
}
.grid-7-title p{
  text-align: left;
  font-family: "Poppins", sans-serif;
  line-height: 170%;
  position: relative;
  align-self: stretch;
}
.name{
  font-weight: 500;
  font-size: 2.083vw;
  height: 2.500vw;
}
.bearth .mbti{
  font-size: 1.042vw;
  font-weight: 300;
  height: 1.563vw;
}
.my-txt p, .content_div ul li{
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 0.833vw;
  line-height: 170%;
  font-weight: 300;
  position: relative;
  width: 14.896vw;
}
.content div{
  align-self: stretch;
}

.hidddden{
  display: none;
}
/* section 3 */
.section-3,
.section-3 * {
  box-sizing: border-box;
}
.section-3 {
  background: #ffffff;
  height: 144vw;
  /* 나머지 완성되면 144vw로 복구 */
  width: 100vw;
  position: relative;
  overflow: hidden;
}


/* 섹션3 타이틀 */
.icon-img {
  width: auto;
  position: absolute;
  left: 91.302vw;
  top: 10vw;
  overflow: visible;
}
.section-3 .img-icon{
  width: 46px; height: 46px;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.4s ease, left 0.4s ease;
  position: absolute; 
  left: 0.5vw; 

  display: flex;
  justify-content: center; 
  align-items: center;
}


.sec-3-title .title p{
  text-align: left;
  font-family: "Pretendard", sans-serif;
  position: absolute;
}
.sec-3-title .title1{
  line-height: 0.8;
}
.web{
  text-align: left;
  font-size: 4.688vw;
  line-height: 120%;
  font-weight: 200;
  text-transform: uppercase;
  left: 0px;
  top: 0px;
}
.section-3 .portfolio { 
  font-size: 10vw;
  font-weight: 300;
  text-transform: uppercase;
  left: 30.885vw;
  top: 7.813vw;
}
.section-3 ._2024 {
  text-align: left;
  font-size: 8.854vw;
  font-weight: 300;
  left: 77.552vw;
  top: 20.833vw;
}
.since {
  font-size: 8.854vw;
  letter-spacing: 0.1em;
  font-weight: 400;
  left: 1.302vw;
  top: 20.833vw;
  width: 29.583vw;
}

/* 섹션3 박스 그리드  


/* 섹션 3 박스 */



/* 공통 사항 */
/* 박스의 텍스트들 */
.title-txtS {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  row-gap: 0.313vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
/* 박스 첫줄 텍스트 */
.title_wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 박스 텍스트의 스타일값 */
.title-txt .title, .category{
  text-align: left;
  font-family: "Pretendard", sans-serif;
  font-size: 1.0417vw;
  line-height: 120%;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
/* 박스 부제목 스타일값 */
.sub-title {
  color: #848484;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 1.0417vw;
  line-height: 120%;
  font-weight: 500;
  position: relative;
}
/* 박스 안에 있는 아이콘값 */
.img-icon {
  position: absolute;
  bottom: 1vw; /* 적절히 위치 조정 */
  left: 1vw; /* 적절히 위치 조정 */
  width: 2vw; /* 화살표 크기 */
  height: 2vw;
  transition: transform 0.4s ease, left 0.4s ease;
}




/* 작은 박스  */

/* 작은박스 이미지가 들어갈 백그라운드 */
.bg-img-sm{
  background: #fff3ac;
  transition: filter 0.5s ease, border-radius 0.5s ease-in-out;
  border-radius: 0.5vw; 
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
/* 작은박스 하단에 들어가는 텍스트박스 */
.img-title-small{
  border-radius: 0px 0px 30px 30px;
  border:1px solid #000;
  border-top: 0;
  padding: 3.125vw 1.042vw;
  width: 31.7729vw;
  height: 7.813vw;
  position: absolute;
  
}
/* 작은 박스 제목 위치1 */
.box-sm .t-sm-one{
  left: 2.083vw;
  top: 55.833vw; 
}
/* 작은 박스 제목 위치2 */
.box-sm .t-sm-two{
  right: 2.083vw;
  top: 111.245vw;
}
/* 이미지가 들어가는 작은박스 1*/
.box-one .sm-one{
  /* 박스 크기 */
  width: 31.7729vw;
  height: 20.8333vw;
  position: absolute;
  /* 박스위치 */
  left: 2.0833vw;
  top: 37.0833vw;
} 
/* 이미지가 들어가는 작은박스 2*/
.box-four .sm-two{
  width: 31.7729vw;
  height: 20.8333vw;
  position: absolute;
  right: 2.0833vw;
  top: 92.385vw
}


/* 작은박스에 들어갈 이미지 1*/
.box-one .box-one {
  background: url(../img/olive-img.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}
/* 작은박스에 들어갈 이미지 2*/

/* 작은박스 제목,부제목 */
.img-title-four{
  border-radius: 0px 0px 30px 30px;
  border:1px solid #000;
  border-top: 0;
  padding: 3.125vw 1.042vw;
  width: 31.7729vw;
  height: 7.813vw;
  position: absolute;
  right: 2.083vw;
  top: 111.245vw;
}



.box-one .box-one:hover{
  filter: blur(0);
}



/* 큰 박스 */

/* 큰 박스 이미지가 들어갈 백드라운드 */
.bg-img-big{
  background: #fff3ac;
  transition: filter 0.5s ease, border-radius 0.5s ease-in-out;
  border-radius: 0.5vw;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
/* 큰 박스의 제목,카테고리, 설명문or부제목 */
.box-bg .img-title-big{
  border-radius: 0px 0px 30px 30px;
  border:1px solid #000;
  border-top: 0;
  padding: 3.125vw 1.042vw;
  width: 62.500vw;
  height: 7.813vw;
  position: absolute;
}
/* 큰박스 제목위치 1*/
.box-bg .t-two{
  right: 2.083vw;
  top: 77.969vw;
}
/* 큰박스 제목위치 2*/
.box-bg .t-three{
  left: 2.0833vw;
  top: 133vw;
}
/* 이미지가 들어갈 큰 박스 1 */
.box-two .big-one{
  width: 62.500vw;
  height: 42.615vw;
  position: absolute;
  right: 2.0833vw;
  top: 37.0833vw;
}
/* 이미지가 들어갈 큰 박스 2 */
.box-three .big-two{
  width: 62.500vw;
  height: 42.615vw;
  position: absolute;
  right: 2.0833vw;
  left: 2.0833vw;
  top: 92.385vw;
 
    
}
/* 큰박스에 들어갈 이미지 1 */
.box-two .box-two {
    background: url(../img/project-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}
/* 큰박스에 들어갈 이미지 2 */
.box-three .box-three{
  background: url(../img/nintendo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}


.box-two .box-two:hover{
  filter: blur(0);
}
.box-three .box-three:hover{
  filter: blur(0);
}

                 
.box-three .pofor-box-big{
  left: 2.0833vw;
  top: 92.385vw;
  position: absolute
}



.section-3 .box_grid .box .title_wrapper span{
position: absolute;
display: block;
width: 0;
height: 0;
border-radius: 50%;
background-color: #fff;
transition: 0.1s;
}
.section-3 .box_grid .box .title_wrapper:hover span{
  width: 300px;
  height: 300px;
}

/* 섹션 4 */



.section-4,
.section-4 * {
  box-sizing: border-box;
}
.section-4 {
  background: #ffffff;
  height: 36.458vw;
  position: relative;
  overflow: hidden;
}
.bottom {
  margin: -1px 2.083vw;
  border:1px solid #000;
  width: 93.750vw;
  position: absolute;
  /* left: calc(50% - 900px); */
  top: 34.948vw;
}
.last{
  position: absolute;
  gap: 51.51vw;
  top: 23.177vw;
  margin: 0 2.083vw;
  display: flex;
}
.last p{
  font-size: 3.333vw;
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  text-align: left;
  text-transform: uppercase;
  
}

.last-img{
  display: flex;
  gap: 8vw;
  justify-content: space-between;
  margin: 0 5.729vw;
  position: relative;
  top: 6.107vw;
}
.last-img img{
  width: 33.771vw;;
}


.catagory-list {
  display: flex;
  flex-direction: row;
  gap: 2.292vw;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 2.760vw;
  top: 30.938vw;
}
.catagory-list p{
  color: #5c5c5c;
  text-align: left;
  font-family: "Pretendard", sans-serif;
  font-size: 1.146vw;
  font-weight: 400;
  position: relative;
  border: 1px solid transparent;
  border-radius: 80px;
  padding: 0.4vw 1vw;
  transition: all 0.2s ease-in-out;
}
.catagory-list p frame{
  border-radius: 52px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px 34px 10px 34px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}