@charset "utf-8";
.sec-1 .sec-1-menubar .menu li{
    font-family: "Pretendard", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1.2px;
    color: #fff;
}


.sec-1 .sec-1-img .txt .sec1-content .description .size22{
    font-size: 22px;
    letter-spacing: -0.44px;
}
.sec-1 .sec-1-img .txt .sec1-content .description span{
    font-family: "Notosans";
    color: #f00;  
}
.sec-1 .sec-1-img .txt .sec1-content .description .one{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.6px;
}
.sec-1 .sec-1-img .txt .sec1-content .description .two{
    font-size: 22px;
    font-weight: 350;
    letter-spacing: -0.48;
}
.sec-1 .sec-1-img .txt .sec1-content .description .three{
    font-size: 22px;
    font-weight: 350;
    letter-spacing: -0.48;
}
.sec-1 .sec-1-img .txt .sec1-content .description{
    font-family: "sandoll-gothicneo1", serif;
    font-size: 26px;
    font-weight: 350;
    font-style: normal;
}